<!doctype html>
<html lang="en" manifest="uibuilder.appcache">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="./manifest.json">
    <meta name="theme-color" content="#3f51b5">

    <!-- Used if adding to homescreen for Chrome on Android. Fallback for manifest.json -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Home Dashboard">

    <!-- Used if adding to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Home Dashboard">

    <title>Página SCADA</title>
    <meta name="description" content="Home Dashboard">
    
    <link type="text/css" rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="./vendor/bootstrap-vue/dist/bootstrap-vue.css" />
    
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    
    <link rel="stylesheet" href="./index.css">
     <link href="./css/all.css" rel="stylesheet"> 
    
    <script defer src="./js/all.js"></script>
</head>

<body style="background-color:#bdc3c7">
        
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
    <!-- The "app" element is where the code for dynamic updates is attached -->
    <div id="app">
        <b-container id="app_container">
            <b-navbar toggleable="lg" type="dark" variant="dark">

                <b-navbar-brand href="#" v-b-popover.focus.hover.bottomright="{content:'Página de controlo remoto do Variador de Frequência Mitsubishi D720SC'}"><p>Interface SCADA</p></b-navbar-brand>
                
                <b-collapse id="nav-collapse" is-nav>
                    
                 <b-navbar-nav class="ml-auto">
                    <b-nav-form>
                      <b-form-input size="sm" class="mr-sm-2" placeholder="Procura"></b-form-input>
                      <b-button size="sm" class="my-2 my-sm-0" type="submit">Pesquisar</b-button>
                    </b-nav-form>
            
                    <b-nav-item-dropdown text="Língua" right>
                      <b-dropdown-item href="#">EN</b-dropdown-item>
                      <b-dropdown-item href="#">ES</b-dropdown-item>
                      <b-dropdown-item href="#">RU</b-dropdown-item>
                      <b-dropdown-item href="#">FA</b-dropdown-item>
                    </b-nav-item-dropdown>
            
                    <b-nav-item-dropdown right>
                      <!-- Using 'button-content' slot -->
                      <template v-slot:button-content>
                        <em>Utilizador</em>
                      </template>
                      <b-dropdown-item href="#">Perfil</b-dropdown-item>
                      <b-dropdown-item href="#">Terminar Sessão</b-dropdown-item>
                    </b-nav-item-dropdown>
                  </b-navbar-nav>
                </b-collapse>
                
            </b-navbar>

            <b-card no-body id="main">
                <b-tabs pills card horizontal>
                    <b-tab title="Supervisão" >
                        <b-container class="supervisao-i-container">
                            
                            <b-row align-h="center" class="text-center">
                                <b-col>
                                    <span class="d-block bg-secondary text-white font-weight-bold">Frequência:</span>
                                </b-col>
                                <b-col>
                                    <span class="d-block bg-secondary text-white font-weight-bold">Intensidade:</span>
                                </b-col>
                                <b-col>
                                    <span class="d-block bg-secondary text-white font-weight-bold">Tensão:</span>
                                </b-col>
                            </b-row>
                            
                            <div class="w-100 p-1"></div>
                            
                            <b-row align-h="center" class="text-center">
                                <b-col>
                                    <span>{{var11}} Hz</span>
                                </b-col>
                                <b-col>
                                    <span>{{var2}} A</span>
                                </b-col>
                                <b-col>
                                    <span>{{var3}} V</span>
                                </b-col>
                            </b-row>
                            <br>
                            
                            <b-row align-h="center" class="text-center">
                            <b-col>
                            <b-card class="mr-1" header="Gauge Frequência" border-variant="secondary" header-bg-variant="secondary" header-text-variant="white" align="center">
                                <vue-svg-gauge
                                    :start-angle="-110"
                                    :end-angle="110"
                                    :value="var11"
                                    :separator-step="100"
                                    :min="0"
                                    :max="50"
                                    :gauge-color="[{ offset: 0, color: '#347AB0'}, { offset: 100, color: '#8CDFAD'}]"
                                    :scale-interval="0"
                                >
                                 <!--   <div style="line-height: 12rem">{{var11.toFixed(2)}}</div> -->
                                </vue-svg-gauge>
                                
                                <div class="inner-text">
                                    <span>{{var11}} Hz</span>
                                </div>
                            </b-card>
                            </b-col>
                            
                            <b-col>
                            <b-card class="mr-1" header="Gauge Intensidade" border-variant="secondary" header-bg-variant="secondary" header-text-variant="white" align="center">
                                <vue-svg-gauge
                                    :start-angle="-110"
                                    :end-angle="110"
                                    :value="var2"
                                    :separator-step="100"
                                    :min="0"
                                    :max="2"
                                    :gauge-color="[{ offset: 0, color: '#347AB0'}, { offset: 100, color: '#8CDFAD'}]"
                                    :scale-interval="0"
                                >
                                   
                                </vue-svg-gauge>
                                   
                               <div class="inner-text">
                                    <span>{{var2}} A</span>
                                </div>
                                
                            </b-card>
                            </b-col>
            
                            <b-col>
                            <b-card class="mr-1" header="Gauge Tensão" border-variant="secondary" header-bg-variant="secondary" header-text-variant="white" align="center">
                                <vue-svg-gauge
                                    :start-angle="-110"
                                    :end-angle="110"
                                    :value="var3"
                                    :separator-step="400"
                                    :min="0"
                                    :max="400"
                                    :gauge-color="[{ offset: 0, color: '#347AB0'}, { offset: 100, color: '#8CDFAD'}]"
                                    :scale-interval="0"
                                >
                                    
                                </vue-svg-gauge>
                                    
                                <div class="inner-text">
                                    <span>{{var3}} V</span>
                                </div>
                                    
                                
                            </b-card>
                            </b-col>
            
            
            
                            </b-row>
                            
                        </b-container>
                    </b-tab>
                    <b-tab title="Controlo">
                        
                        <b-row align-h="center" class="text-center">
                            <b-button style="margin:5px;" type="secondary" variant="secondary" @click="[press_Man($event)]"> Modo Manual </b-button>
                            <b-button style="margin:5px;" type="secondary" variant="secondary" @click="[press_Rem($event)]"> Modo Remoto </b-button>
                        </b-row>
                        <br>
                        <div class="input-group" style="margin-right:5px">
                            <input type="text" v-model="message" class="form-control" placeholder="Insira o valor desejado de frequência [Hz].">
                            <b-button type="submit" variant="primary" @click="[press_1($event)]"> Enviar <b-button>
                        </div>
                        <div class="w-100 p-1"></div>
                        <b-row align-h="center" class="text-center">
                            <b-button type="submit" variant="light" @click="[press_2($event)]"> Apagar </b-button>
                        </b-row>
                        <label for="range-2">Slider de Frequência</label>
                        <div>
                            <b-form-input id="range-2" v-model="value" type="range" min="0" max="50" step="0.01"></b-form-input>
                            <div class="mt-2">Valor atual: {{ value }}</div>
                        </div>
                        <b-row align-h="center" class="text-center">
                            <b-button style="margin:5px;" type="success" variant="success" @click="[press_3($event)]"> Arranque </b-button>
                            
                            <b-button style="margin:5px;" type="danger" variant="danger" @click="[press_4($event)]"> Paragem </b-button>
                        </b-row>
                    </b-tab>
                    <b-tab title="Histórico" active>
                        <template>
                            
                            <b-card-group deck>
                            <b-card col class="w-50" header="Histórico de Frequência" border-variant="info" header-bg-variant="secondary" header-text-variant="white" align="center">
                                    <apexchart width="100%" ref="Fchart" type="line" :options="Foptions" :series="Fseries"></apexchart>
                            </b-card>
                            
                            <b-card col class="w-50" header="Histórico de Intensidade" border-variant="info" header-bg-variant="primary" header-text-variant="white" align="center">
                                    <apexchart width="100%" ref="Ichart" type="line" :options="Ioptions" :series="Iseries"></apexchart>
                            </b-card>
                            </b-card-group>
                          
                            <br>
                          
                            <b-card-group deck>
                            <b-card col class="w-50" header="Histórico de Tensão" border-variant="info" header-bg-variant="primary" header-text-variant="white" align="center">
                                    <apexchart width="100%" ref="Vchart" type="line" :options="Voptions" :series="Vseries"></apexchart>
                            </b-card>
                            
                            <b-card col class="w-50" header="Realtime" border-variant="info" header-bg-variant="primary" header-text-variant="white" align="center">
                                    <apexchart width="100%" ref="realtime" type="line" :options="chartOptions" :series="rseries"></apexchart>
                            </b-card>
                            </b-card-group>
                            
                        </template>
                    </b-tab>
                    <b-tab title="Alarmes">
                       
                        <template>
                           <div class="app">
                             <apexchart width="550" ref="Fchart" type="line" :options="Foptions" :series="Fseries"></apexchart>

                           </div>
                        </template>
                        
                    </b-tab>
                    <b-tab title="Gráficos em Tempo Real">
                        <div>
                          <b-tabs content-class="mt-3">
                            <b-tab title="Frequência" active>
                                <b-card col class="w-100" header="Histórico de Frequência" border-variant="secondary" header-bg-variant="secondary" header-text-variant="white" align="center">
                                    <apexchart width="100%" ref="Fchart" type="line" :options="Foptions" :series="Fseries"></apexchart>
                                </b-card>
                            </b-tab>
                            <b-tab title="Corrente">
                                <b-card col class="w-100" header="Histórico de Tensão" border-variant="secondary" header-bg-variant="secondary" header-text-variant="white" align="center">
                                    <apexchart width="100%" ref="Ichart" type="line" :options="Ioptions" :series="Iseries"></apexchart>
                            </b-card>
                            </b-tab>
                            <b-tab title="Tensão">
                                <b-card col class="w-100" header="Histórico de Tensão" border-variant="secondary" header-bg-variant="secondary" header-text-variant="white" align="center">
                                    <apexchart width="100%" ref="Vchart" type="line" :options="Voptions" :series="Vseries"></apexchart>
                            </b-card>
                            </b-tab>
                          </b-tabs>
                        </div>
                    </b-tab>
                    
                    <b-tab title="Histórico Total">
                        
                        <b-card col class="w-100" header="Histórico de Frequência" border-variant="secondary" header-bg-variant="secondary" header-text-variant="white" align="center">
                            <apexchart width="100%" ref="Fchart" type="line" :options="Foptions" :series="Fseries"></apexchart>
                        </b-card>
                        
                    </b-tab>
                    
                </b-tabs>
            </b-card>

            <b-row no-gutters id="footer" class="text-light p-1 bg-dark">
                <span>Pedro Limas 80449</span>
            </b-row>
        </b-container>
    </div>

    <script src="../uibuilder/vendor/socket.io/socket.io.js"></script>
    
    <script src="../uibuilder/vendor/vue/dist/vue.js"></script> 
    <script src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.js"></script>
    <script src="./uibuilderfe.min.js"></script> 
    
    <link href="https://unpkg.com/sleek-dashboard/dist/assets/css/sleek.min.css" rel="stylesheet"/>
    <script src="https://unpkg.com/sleek-dashboard/dist/assets/js/sleek.bundle.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
    
    <script src="https://unpkg.com/vue-svg-gauge@1.2.0/dist/vue-svg-gauge.min.js"></script>
    
    <script src="./index.js"></script>

</body>

</html>

